.kontak {
  background: url(/assets/img/community.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
}
section {
  padding-top: 5 rem;
}
